@page "/System/AuditsCheck/{AuditCheckId:int}"
@using Common.Utilities
@using global::Shared.DTOs
@using WebClient.Services.Components
@rendermode InteractiveServer
@inherits WebClient.Components.Pages.Sys.AuditsCheckDetailIndex

<PageTitle>جزئیات بررسی جدول</PageTitle>

@if (_isLoading)
{
    <LoadingList></LoadingList>
}
else
{
    <div class="sm:overflow-visible overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table table-zebra">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>@(ModelExtensions.ToDisplay<AuditCheckDetailResDto>(i => i.Model))</th>
                    <th>@(ModelExtensions.ToDisplay<AuditCheckDetailResDto>(i => i.ModelId))</th>
                    <th>@(ModelExtensions.ToDisplay<AuditCheckDetailResDto>(i => i.Status))</th>
                    <th>@(ModelExtensions.ToDisplay<AuditCheckDetailResDto>(i => i.AuditCreateDate))</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 0;
                }
                @foreach (var item in _list)
                {
                    <tr>
                        <td>@(++index)</td>
                        <td>@item.Model</td>
                        <td>@item.ModelId</td>
                        <td>@item.Status</td>
                        <td>@item.AuditCreateDate</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <Pagination Page="_indexDto.Page"
                Limit="_indexDto.Limit"
                Total="_total"
                PageChanged="PageChanged">
    </Pagination>
}
