@page "/System/AuditsCheck"
@using Common.Utilities
@using global::Shared.DTOs
@using WebClient.Services.Components
@rendermode InteractiveServer
@inherits WebClient.Components.Pages.Sys.AuditsCheckIndex

<PageTitle>لیست بررسی جداول</PageTitle>

@if (_isLoading)
{
    <LoadingList></LoadingList>
}
else
{
    <div class="flex gap-3 mb-5">
        <button class="btn btn-primary" disabled="@_isBusy" @onclick="RunAuditCheck">
            @if (_isBusy)
            {
                <span class="loading loading-spinner loading-sm me-2"></span>
            }
            بررسی جداول
        </button>
    </div>

    <div class="sm:overflow-visible overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table table-zebra">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>@(ModelExtensions.ToDisplay<AuditCheckResDto>(i => i.CreateDate))</th>
                    <th>@(ModelExtensions.ToDisplay<AuditCheckResDto>(i => i.UserName))</th>
                    <th>@(ModelExtensions.ToDisplay<AuditCheckResDto>(i => i.TablesCheckCount))</th>
                    <th>@(ModelExtensions.ToDisplay<AuditCheckResDto>(i => i.EntitiesCheckCount))</th>
                    <th>@(ModelExtensions.ToDisplay<AuditCheckResDto>(i => i.RestoredEntitiesCount))</th>
                    <th>جزئیات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 0;
                }
                @foreach (var item in _list)
                {
                    <tr>
                        <td>@(++index)</td>
                        <td>@item.CreateDate</td>
                        <td>@item.UserName</td>
                        <td>@item.TablesCheckCount</td>
                        <td>@item.EntitiesCheckCount</td>
                        <td>@item.RestoredEntitiesCount</td>
                        <td>
                            <button class="btn btn-sm btn-info" @onclick="() => GoToDetails(item.Id)">
                                جزئیات
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <Pagination Page="_indexDto.Page"
                Limit="_indexDto.Limit"
                Total="_total"
                PageChanged="PageChanged">
    </Pagination>
}
