@page "/Log/Archive"
@using Common.Utilities
@using Domain.Entities
@using global::Shared.DTOs
@using WebClient.Services.Components
@rendermode InteractiveServer
@inherits WebClient.Components.Pages.Log.ArchiveLogIndex

<PageTitle>آرشیو لاگ‌ها</PageTitle>

<ArchiveModal ArchiveRequest="_archiveRequest"
              ModalIsBusy="_modalIsBusy"
              IsBusy="_isBusy"
              OnValidSubmit="HandleArchiveSubmit" />

@if (_isLoading)
{
    <LoadingList></LoadingList>
}
else
{
    <div class="flex gap-3">
        <button class="btn btn-primary mb-5" @onclick="ShowArchiveModal">آرشیو جدید</button>
    </div>

    <div class="sm:overflow-visible overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table table-zebra">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>@(ModelExtensions.ToDisplay<ArchiveLogResDto>(i => i.ArchiveFileName))</th>
                    <th>@(ModelExtensions.ToDisplay<ArchiveLogResDto>(i => i.ArchivedUntilDate))</th>
                    <th>@(ModelExtensions.ToDisplay<ArchiveLogResDto>(i => i.ArchivedAt))</th>
                    <th>@(ModelExtensions.ToDisplay<ArchiveLogResDto>(i => i.LogCount))</th>
                    <th>@(ModelExtensions.ToDisplay<ArchiveLogResDto>(i => i.AuditCount))</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 0;
                }
                @foreach (var item in _list)
                {
                    <tr>
                        <td>@(++index)</td>
                        <td>@item.ArchiveFileName</td>
                        <td>@item.ArchivedUntilDate</td>
                        <td>@item.ArchivedAt</td>
                        <td>@item.LogCount</td>
                        <td>@item.AuditCount</td>
                        <td class="w-14 text-center">
                            <div class="dropdown dropdown-left">
                                <div tabindex="0" role="button" class="btn btn-sm btn-ghost">⋮</div>
                                <ul tabindex="0"
                                    class="dropdown-content menu bg-base-100 rounded-box z-50 p-1 w-32 shadow">
                                    <li>
                                        <button type="button" @onclick="() => RestoreArchive(item)">
                                            بازگردانی
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <Pagination Page="_indexDto.Page"
                Limit="_indexDto.Limit"
                Total="_total"
                PageChanged="PageChanged">
    </Pagination>
}
