@page "/Sms/Index"
@using Common.Utilities
@using global::Shared.DTOs
@using WebClient.Services.Common
@using WebClient.Services.Components

@rendermode InteractiveServer

<PageTitle>لیست پیامک‌ها</PageTitle>

@if (_isLoading)
{
    <LoadingList></LoadingList>
}
else
{
    <div class="flex gap-3 mb-5">
        <label class="input">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                </g>
            </svg>
            <input type="search" @oninput="OnSearchChanged" required placeholder="جستجو..." />
        </label>
    </div>

    <div class="sm:overflow-visible overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table table-zebra">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>@(ModelExtensions.ToDisplay<SmsLogResDto>(i => i.Text))</th>
                    <th>@(ModelExtensions.ToDisplay<SmsLogResDto>(i => i.CreateDate))</th>
                    <th>@(ModelExtensions.ToDisplay<SmsLogResDto>(i => i.CreatorUserName))</th>
                    <th>@(ModelExtensions.ToDisplay<SmsLogResDto>(i => i.Mobile))</th>
                    <th>ارسال مجدد</th>
                </tr>
            </thead>
            <tbody>
                @if (_list.Count == 0)
                {
                    <tr>
                        <td colspan="6" class="text-center text-gray-400">هیچ پیامکی یافت نشد.</td>
                    </tr>
                }
                else
                {
                    var index = (_indexDto.Page - 1) * _indexDto.Limit;
                    @foreach (var item in _list)
                    {
                        <tr>
                            <td class="w-14 text-center">@(++index)</td>
                            <td>@item.Text</td>
                            <td>@item.CreateDate</td>
                            <td>@item.CreatorUserName</td>
                            <td>@item.Mobile</td>
                            <td class="w-14 text-center">
                                <div class="dropdown dropdown-left">
                                    <div tabindex="0" role="button" class="btn btn-sm btn-ghost">⋮</div>
                                    <ul tabindex="0"
                                        class="dropdown-content menu bg-base-100 rounded-box z-50 p-1 w-32 shadow">
                                        <li>
                                            <button type="button" @onclick="() => ReSend(item.Id)">
                                                ارسال مجدد
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <Pagination Page="_indexDto.Page" Limit="_indexDto.Limit" Total="_total" PageChanged="PageChanged"></Pagination>
}
