@page "/Notification/Index"
@using Common.Utilities
@using Domain.Entities
@using global::Shared.DTOs
@rendermode InteractiveServer

<PageTitle>لیست اعلان‌ها</PageTitle>

@if (_isLoading)
{
    <LoadingList></LoadingList>
}
else
{
    <div class="flex gap-3 mb-5">
        <label class="input">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                </g>
            </svg>
            <input type="search" @oninput="OnSearchChanged" required placeholder="جستجو" />
        </label>
    </div>

    <div class="sm:overflow-visible overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
        <table class="table table-zebra">
            <thead>
                <tr>
                    <th>ردیف</th>
                    <th>@(ModelExtensions.ToDisplay<NotificationResDto>(i => i.Title))</th>
                    <th>@(ModelExtensions.ToDisplay<NotificationResDto>(i => i.UserName))</th>
                    <th>@(ModelExtensions.ToDisplay<NotificationResDto>(i => i.CreateDate))</th>
                    <th>@(ModelExtensions.ToDisplay<NotificationResDto>(i => i.Minutes))</th>
                    <th>@(ModelExtensions.ToDisplay<NotificationResDto>(i => i.SeenDate))</th>
                    <th>@(ModelExtensions.ToDisplay<NotificationResDto>(i => i.Status))</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 0;
                }
                @foreach (var item in _list)
                {
                    <tr>
                        <td class="w-14 text-center">@(++index)</td>
                        <td>@item.Title</td>
                        <td>@item.UserName</td>
                        <td>@item.CreateDate</td>
                        <td>@item.Minutes</td>
                        <td>@item.SeenDate</td>
                        <td>
                            @if (item.Status == NotificationStatus.Seen)
                            {
                                <div class="inline-grid *:[grid-area:1/1]">
                                    <div class="status status-success animate-ping"></div>
                                    <div class="status status-success"></div>
                                </div>
                                <span>خوانده شده</span>
                            }
                            else
                            {
                                <div class="inline-grid *:[grid-area:1/1]">
                                    <div class="status status-error animate-ping"></div>
                                    <div class="status status-error"></div>
                                </div>
                                <span>خوانده نشده</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <Pagination Page="_indexDto.Page" Limit="_indexDto.Limit" Total="_total" PageChanged="PageChanged"></Pagination>
}
